{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script src="{% static 'js/jquery_1.8.js' %}"></script>
    <script src="{% static 'js/jquery_cookie.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico?v=20160901' %}" type="image/x-icon">
    <link href="{% static 'css/shopping_cart_new.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/footer_150526.css' %}" rel="stylesheet" type="text/css" />
</head>

<body style="padding-bottom:82px">

<link href="{% static 'css/header_960_150611.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/pagetop2015_0827.js' %}" charset="gb2312" type="text/javascript"></script>

<div id="hd">
<div id="tools">
<div class="tools">
    <div class="ddnewhead_operate" dd_name="顶链接">
        
        <div class="ddnewhead_welcome" display="none;">
            <span id="nickname"><span class="hi hi_none">欢迎{{ uname }}光临当当，请</span><a href="javascript:void(0)" class="login_link" onclick="offline()">退登</a></span>



            <div class="tel_pop" style="display:none" id="__ddnav_sjdd" onmouseover="showgaoji('a_phonechannel','__ddnav_sjdd');" onmouseout="hideotherchannel('a_phonechannel','__ddnav_sjdd');">
                <a target="_blank" href="http://t.dangdang.com/20130220_ydmr" class="title"><i class="icon_tel"></i>手机当当</a><i class="title_shadow"></i>
                <ul class="tel_pop_box">
                    <li><a href="http://t.dangdang.com/20130220_ydmr" dd_name="手机二维码"><span>当当手机客户端</span><img src="http://img3.ddimg.cn/00363/doc/erweima2.png"><span class="text">随手查订单<br>随时享优惠</span></a></li>
                </ul>
            </div>
        </div>
        <div class="new_head_znx" id="znx_content" style="display:none;"></div>
    </div>
</div>
</div>
<div id="header_end"></div>
<!--CreateDate  2016-09-28 11:30:01--></div>
<form action="http://search.dangdang.com/search.aspx" id="bootpagetopSearch" name="bootpagetopSearch" method="GET"></form>
<script type="text/javascript">var nick_num = 0;initHeaderOperate();</script><script type="text/javascript" src="http://orderb.dangdang.com/queryunpaid?callback=Unpaid_Data"></script>
		<div class="shoppingcart_wrapper" id="ad_cpt_11850"><div><a href="http://a.dangdang.com/tjump.php?q=ddo84XQOf357bOs8tXGg5%2F%2F0oVoDImt3DFWsMqu7ZMSVsfUMeOQJueASNiMLjq%2FdrXMLCKnVfyKEahteAh1ih%2ByKYrKGzhvL20LVbDzObRambBA0YPpivy5hR5foQ4Rt%2BTB" target="_blank" rel="nofollow"><img src="http://img62.ddimg.cn/2017/1/11/2017011111344969879.jpg"></a></div></div>
<div class="logo_line">
    <div class="w960">
        <div class="shopping_procedure01 shopping_procedure "><span>我的购物车</span><span class="current">填写订单</span><span>完成订单</span></div>
        <div class="logo"><a href="#"><img src="{% static 'images/bz_logo_car.jpg' %}" alt=""></a></div>
    </div>
</div>
<form action="{% url 'orderapp:order' %}" method="post" id="form">
{% csrf_token %}
<div class="indent_con">
	<div class="shdz">
    	<h3>收货相关信息</h3>
        <div class="add_line" id="district">
    <div class="w960">
        <div class="address" id="dp_adress">
            <span class="icon_adr">&nbsp;</span>配送地址：
            <div class="select_add">
                <span class="text fn-select-address">
                    <select name="country" style="width: 100px" onblur="adr(this.options[this.options.selectedIndex].text)">
                        <option value="" selected="selected" >填写新地址</option>
                        {% for a in adress %}
                        <option value="{{ a.id }}" selected="selected" >{{ a.r_adress }}</option>
                        {% endfor %}
                    </select>
                </span>
                <div class="area_pop" style="display:none;">
                    <a href="javascript:district.close()" class="close"></a>
                    <ul class="tab">
                        <li id="ap_province" class="fn-show-province"><a href="javascript:void(0)" id="selected_111">北京</a></li>
                        <li id="ap_city" class="fn-show-city"><a href="javascript:district.show_city_init(this)" id="selected_1">北京市</a></li>
                        <li id="ap_area" class="fn-show-area choose"><a href="javascript:district.show_area_init(this)" id="selected_1110101">东城区</a></li>
                        <li id="ap_village" style="display:none" class="fn-show-village"><a href="javascript:district.show_village_init(this)" id="selected_-1">请选择</a></li>
                    </ul>
                    <ul class="list list_notaligned fn-adress">

                    </ul>
                </div>
            </div>
            <!--<a href="#" class="tip"></a>-->
            <span class="tip_c" style="display:none;">针对不同配送地址，您的货物可能出现缺货或无货状态，敬请谅解。</span>
        </div>
    </div>
</div>
        <ul class="shdz_con">
            <p>▪ 收货地址</p>
        	<li><label><strong>*</strong>收&nbsp;&nbsp;货&nbsp;&nbsp;人：</label><input type="text" name="ship_man"  id="user"><span id="spn_ship_man" class="hint new_tip" style="display: block;">请填写收货人姓名</span></li>
            <li>
                <label><strong>*</strong>收货地区：</label> 
                <select id="country_id" name="country_id"   onblur="set_province(this.options[this.selectedIndex].value);" style="display: block;"><option value="1">中国</option></select>
                <select id="province_id" name="province_id"   onblur="set_city(this.options[this.selectedIndex].value);" style="display: block;"><option value="0">请选择</option></select>
                    <select id="city_id" name="city_id"   onblur="set_town(this.options[this.selectedIndex].value);"><option value="0" >请选择</option></select>
                    <select id="town_id" name="town_id"  ><option value="0">请选择</option></select>
            <li><label><strong>*</strong>详细地址：</label><input type="text" name="d_adress" id="d_adress"></li>
            <li><label><strong>*</strong>邮政编码：</label><input type="text" name="e_number"  id="e_number"></li>
            <li><label><strong>*</strong>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label><input type="text" name="phone" id="phone"><label>或&nbsp;&nbsp;固定电话</label><input type="text" name="tel"  id="tel"></li>
             
        </ul>
        <div class="balance"><p>商品金额：¥{{ cart.total_price}}</p><p class="yfze">应付总额（含运费）：<em>¥{{ cart.total_price}}</em></p><p><a href="javascript:" onclick="sub()">提交订单</a></p></div>
    </div>

    <div class="shdz">
    	<h3>订单1（百知网配送）</h3>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr style="height:30px; line-height:30px;">
                <th width="34%">商品名称</th>
                <th width="11%">所在仓库</th>
                <th width="13%">百知价</th>
                <th width="11%">促销价</th>
                <th width="9%">数量</th>
                <th width="11%">小计</th>
                <th width="11%">操作</th>
            </tr>
             {% for i in cart.cartitem %}
                 {% if i.status == 1 %}


                    <tr>
                        <td>{{ i.book.b_name }}</td>
                        <td align="center">{{ i.book.pb_house }}</td>
                        <td align="center">¥{{ i.book.m_price }}</td>
                        <td align="center">￥{{ i.book.d_price }}</td>
                        <td align="center">{{ i.amount }}</td>
                        <td align="center">￥{{ i.price }}</td>
                        <td align="center"><a href="{% url 'orderapp:resume' %}?id={{ i.book.id }}&f=1">放回购物车</a></td>

                    </tr>
                  {% endif %}
             {% endfor %}
                     <tr>
                        <td colspan="2"><input type="checkbox" >此订单作为礼品赠送他人</td>
                        <td colspan="2"><strong>运费：</strong>当确认送货方式后显示</td>
                        <td class="table_zj" colspan="3"><strong>小计总额：</strong><em>¥{{ cart.total_price }}</em></td>
                    </tr>
                
            
                
            
        </tbody></table>
    </div>

</div>
</form>
<div id="footer">
<div class="footer">
	<div class="footer_nav_box">
		<div class="footer_copyright"><span>Copyright (C) 当当网 2004-2014, All Rights Reserved</span><a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202001051000098" target="_blank" class="footer_img" rel="nofollow"><img src="http://img4.dangdang.com/bottom/validate.gif"></a><span><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP证041189号</a></span><span>出版物经营许可证&nbsp;新出发京批字第直0673号</span></div>
	</div>
</div>
</div>
    <div class="foot_tip_ad">广告</div>
    <style>
        .foot_tip_ad { width:40px; height:40px; font:12px/40px "simsun"; text-align:center; color:#fff; background-color:#474747; position:fixed; right:0; bottom:10px;_position:absolute; _bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
    </style>
<script  src="{% static 'js/jquery1.4.2.js' %}"></script>
<script>
    function adr(a) {
        var user=document.getElementById('user');
        var d_adress=document.getElementById('d_adress');
        var e_number=document.getElementById('e_number');
        var phone=document.getElementById('phone');
        var tel=document.getElementById('tel');
        if (a != "填写新地址"){
             $.ajax({
            type:'get',
            url:'{% url 'orderapp:ajax2' %}',
            data:'a='+a,
            success:function (msg) {
                user.value=msg[0]['r_name'];
                d_adress.value=msg[0]['r_adress'];
                e_number.value=msg[0]['e_number'];
                phone.value=msg[0]['phone'];
                tel.value=msg[0]['tel'];
                 user.readOnly=true;
                d_adress.readOnly=true;
                e_number.readOnly=true;
                phone.readOnly=true;
                tel.readOnly=true;
            }
        })
    }else {
             user.value='';
                d_adress.value='';
                e_number.value='';
                phone.value='';
                tel.value='';
                user.readOnly=false;
                d_adress.readOnly=false;
                e_number.readOnly=false;
                phone.readOnly=false;
                tel.readOnly=false;
        }
    }

    function sub() {
         var user=document.getElementById('user');
        var d_adress=document.getElementById('d_adress');
        var e_number=document.getElementById('e_number');
        var phone=document.getElementById('phone');
        var tel=document.getElementById('tel');
        var form=document.getElementById('form');
        if ('{{ cart.total_price }}' == 0){
            var checkout_btn=document.getElementById('checkout_btn');
            if (window.confirm('购物车空空如也，是否去购物！')){
                                location.href='{% url 'booksapp:index' %}'
                            }
            }else {
             if (user.value && d_adress.value && e_number.value && phone.value && tel.value){
                        form.submit()
        } else {
            alert('地址信息不能为空哦！')
        }
            }
    }




    function offline() {
            $.ajax({
                type:'get',
                url:'{% url 'booksapp:ajax3' %}',
                data:'aa='+1,
                success:function (msg) {
                    if (msg=='1'){
                        location.href='{% url 'booksapp:index' %}'
                    }

                }

            })
        }
        function set_province(a) {
            var province_id=document.getElementById('province_id');
            $.ajax({
                type:'get',
                url:'{% url 'orderapp:sport' %}',
                data:'id='+a,
                success:function (msg) {
                    var str='';
                    for (i=0;i < msg.length;i++){
                        str+='<option value='+ msg[i]['id'] +'>'+msg[i]['name']+'</option>'
                        console.log(str)
                    }
                    province_id.innerHTML=''
                    province_id.innerHTML=str
                }
            })

        }
        function set_city(b) {
            var  city_id=document.getElementById('city_id');
               $.ajax({
                type:'get',
                url:'{% url 'orderapp:sport' %}',
                data:'id='+b,
                success:function (msg) {
                    var str='';
                    for (i=0;i < msg.length;i++){
                        str+='<option value='+ msg[i]['id'] +'>'+msg[i]['name']+'</option>'
                        console.log(str)
                    }
                    city_id.innerHTML=''
                    city_id.innerHTML=str
                }
            })

        }
        function set_town(c) {
            var  town_id=document.getElementById('town_id');
               $.ajax({
                type:'get',
                url:'{% url 'orderapp:sport' %}',
                data:'id='+c,
                success:function (msg) {
                    var str='';
                    for (i=0;i < msg.length;i++){
                        str+='<option value='+ msg[i]['id'] +'>'+msg[i]['name']+'</option>'
                    }
                    town_id.innerHTML=''
                    town_id.innerHTML=str
                }
            })
        }
</script>
</body>
</html>
